@import "../../../assets/theme/theme";

$informationSectionHeight: 229px;
$imageWidth: 45%;
$teacherInformationWidth: 25%;

.course-detail {

}

.content {
  margin-bottom: .5rem;
  &.description {
    height: 63px;
    line-height: 21px;
    overflow: hidden;
  }
}

.information {
  > img {
    vertical-align: top;
    width: $imageWidth;
    height: $informationSectionHeight;
    padding-right: 1rem;
  }
  .text-wrapper {
    display: inline-block;
    width: calc(99% - #{$imageWidth});
    height: $informationSectionHeight;
    .text {
      height: $informationSectionHeight - 40px;
      color: $darkBg;
      .title {
        height: 48px;
        line-height: 24px;
        overflow: hidden;
      }
    }
    .button-group {
      .button {
        width: 8rem;
        padding-right: 25px;
        &:hover {
          .el-icon-location-outline {
            animation: shake .6s infinite ease;
          }
        }
      }
    }
  }
}

.tabs {
  display: inline-block;
  width: calc(99% - #{$teacherInformationWidth} - 1rem);
  background: white;
}

.teacher {
  display: inline-block;
  width: $teacherInformationWidth;
  padding: 1rem;
  margin-left: 1rem;
  vertical-align: top;
  text-align: left;
  background-color: white;
  .avatar {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: top;
    border-radius: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .info {
    display: inline-block;
    width: calc(99% - 48px);
    vertical-align: top;
    padding-left: 1rem;
    > div {
      line-height: 24px;
      margin-bottom: 0;
    }
  }
}

@keyframes shake {
  50% {
    transform: translate(0, -5px);
  }
}