@import "./theme";

button {
  border-radius: 0;
  &:focus {
    box-shadow: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

label {
  margin-bottom: 0 !important;
}

input[type="text"], input[type='number'], input[type='mail'] {
  border-radius: 0;
  outline: none;
}

textarea {
  border-radius: 0;
}





