/* color */
$primary: #007bff;
$secondary: #868e96;
$success: #28a745;
$danger: #ec5252;
$warning: #ffc107;
$info: #117a8b;
$light: #f4f4f4;
$darkGray: #555;
$dark: #222;
$darkBg: #293039;
$lightBg: #f2f2f2;
$homeBg: #000031;
$darkLine: #000000;
$lightLine: #b0b0b0;
$skeletonColor: rgb(194, 207, 214);
$titleColor: #293039;
$contentColor: #555;

/* navbar */
$navDashboardHeight: 48px;
$navHeight: 48px;
$footerHeight: 96px;
$logFooterHeight: 48px;
$searchMenuWidth: 150px;

/* form control */
$formMargin: 32px;

/* font-size */
$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 13px;
$font-size-xxs: 12px;

/* transition-timing-function */
$material-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);








